.header{
  background: linear-gradient(270deg, #D9281C 0%, #FF5145 100%);
  &__wrapp{
    padding-top: 30px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__logo{
      display: flex;
      flex-direction: row;
  }
  &__logo h1{
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  &__menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #FB9892;
    border-radius: 5px;
    width: 50px;
    height: 42px;
  }
  i{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #FFFFFF;
    height: 4px;
    width: 30px;
  }
  &__tel{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__link{
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #FFFFFF;
  }
}
