@font-face {
  font-family: 'OpenSans-Bold';
  src: url('./fonts/OpenSans-Bold.ttf');
  src: local('OpenSans-Bold'), local('OpenSans-Bold'),
  url('./fonts/OpenSans-Bold.ttf') format('ttf');

  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url('./fonts/OpenSans-Regular.ttf');
  src: local('OpenSans-Regular'), local('OpenSans-Regular'),
  url('./fonts/OpenSans-Regular.ttf') format('ttf');

  font-weight: 400;
  font-style: normal;
}

